.AddModal {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    margin: 10px;
}

.AddModalItem {
    align-self: center;
    padding: 2px;
}

.AddModalFormContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.AddModalFormItem {
    align-self: center;
    padding: 2px;
}