:root{
    --hunger-level-1: #E88155;
    --hunger-level-2: #EEB05A;
    --hunger-level-3: #F4DE5F;
    --hunger-level-4: #B2D87C;
    --hunger-level-5: #70D399;
}

.hunger-level-1 {
    background-color: var(--hunger-level-1);
}

.hunger-level-2 {
    background-color: var(--hunger-level-2);
}

.hunger-level-3 {
    background-color: var(--hunger-level-3);
}

.hunger-level-4 {
    background-color: var(--hunger-level-4);
}

.hunger-level-5 {
    background-color: var(--hunger-level-5);
}
