:root{
    --mobile-width: 375px;
}

@media all and (max-width: 375px) {
    /* Font Sizes */
    p {

    }
    .display {
        width: 100vw;
    }
    .record-card {
        width: 200px;
    }
}