:root{
    --mobile-width: 375px;
}

@media all and (max-width: 375px) {
    .display {
        width: 100vw;
    }
    .record-card {
        width: 200px;
    }
    /* .add-modal {
        width: 250px;
    } */
    .score-slider {
        width: 150px;
    }
}