.MainCenter {
    /* min-height: 100vh; */
    border-style: solid;
    border-width: 0 .5px 0 .5px;
    border-color: #dddddd;
    height: auto;
    width: auto;
}   

.MainRight {
    display: flex; 
    justify-content: center;
}

.NavigationLeft {

}

@media all and (max-width: 599px) {
    .MainRight {
        display: none;
    }
    .MainCenter {
        width: 100vw;
        border: none;
    }
    .NavigationLeft {
        display: none;
    }
}